body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: #f5f5f5;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header Estilizado */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #5f2d8d, #3642af);
    padding: 0.5em 5%; /* Padding responsive */
    margin-bottom: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    position: relative; /* Asegúrate de que el header tenga position relative */
    z-index: 10; /* Esto es para que el header se mantenga sobre la toolbar al hacer scroll */
}

.header-right {
     display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns items to the right */
}

.user-logout-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adds space between this container and the search bar */
}
.header img {
    max-width: 100%;
    height: auto;
}

.header form,
.logout-link {
    margin: 0;
    padding: 0; 
}

.logout-link {
    width: 10%;  
    color:#ffffff;
    font-size: 1.7em; /* Aumentar tamaño de fuente */
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem; 
    order: 2;
}

.logout-link:hover {
    background-color: #f5f5f5;
}

.logout-icon {
    display: inline-block; /* O 'block' si quieres que el ícono esté solo */
    vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
    margin-right: 0.5em; /* Espacio entre el ícono y el texto */
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4a0df3;
    font-size: 2.5em;
    padding: 1em 0;
    background-color: #f8f8f8; /* Color de fondo ligeramente más oscuro para h1 */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px; /* Ajusta el padding según sea necesario */
    background-color: #673ab7; /* Un color de fondo a juego con tu tema */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Una sombra sutil para dar profundidad */
    z-index: 5; /* Menor que el header para que quede debajo */
}

.toolbar-btn {
    padding: 10px 90px;
    text-decoration: none;
    color: white; /* El color del texto para que contraste con el fondo */
    font-weight: bold;
    transition: background-color 0.3s;
}

.toolbar-btn:hover {
    background-color: #7e57c2; /* Un color ligeramente más claro para el efecto hover */
}


.categorias-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4; /* Color de fondo */
    
}

.toolbar-btn.active {
    background-color: #7e57c2; /* Color de fondo para la categoría activa */
    color: white; /* Color del texto para la categoría activa */
}


.categoria-btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #333; /* Color del texto */
    background-color: #ddd; /* Color de fondo del botón */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.categoria-btn:hover {
    background-color: #ccc; /* Color de fondo al pasar el mouse */
}


.catalogo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
    gap: 20px; 
    padding-top: 40px;
    flex: 1 0 auto;
}


.producto-card {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: hidden; 
    border-radius: 9px;
    height: 400px;
    background-color: #ffffff;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
}


.producto-card:hover {
    transform: translateY(-10px); /* Efecto hover */
}

@keyframes flip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}


.producto-card img {
    width: 150px; /* o el ancho que desees */
    height: 200px; /* o el alto que desees */
    object-fit: cover; /* esto hará que las imágenes se ajusten manteniendo su relación de aspecto */
    display: block; /* para eliminar espacios adicionales debajo de la imagen */
    margin: 0 auto; /* para centrar la imagen horizontalmente en el contenedor */
    flex-grow: 1;

    /* Animación */
    animation: flip 15s infinite;
}



.producto-card h2 {
    margin-top: 14px;
    color: #4a0df3;
    font-size: 1.2em; /* Aumentar tamaño de fuente */
    flex-grow: 1;
}

.producto-card p {
    margin: 14px;
    color: #000000;
    font-size: 0.9em; /* Ajustar tamaño de fuente para descripciones */
    flex-grow: 1;
}

.producto-card a, .producto-card button {
    display: inline-block;
    margin-top: 9px;
    padding: 10px 16px; /* Aumentar padding */
    border: none;
    text-decoration: none;
    background-color: #4a0df3;
    color: white;
    border-radius: 20px; /* Hacer bordes más redondeados */
    cursor: pointer;
    transition: opacity 0.3s;
}

.producto-card button {
    background-color: #4a0df3;
    flex-grow: 0;
    font-size: 1rem; /* Aumentar tamaño de fuente */
    padding: 0.6rem 1rem; /* Padding inicial */
    border-radius: 30px;
}

.producto-card a:hover, .producto-card button:hover {
    opacity: 0.8;
}

footer {
    background: linear-gradient(to right, #5f2d8d, #3642af);
    color: white;
    padding: 1em 10%;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-content p {
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
}

.social-icons a {
    margin-right: 10px; /* Esto añade un margen a la derecha de cada enlace */
}

.social-icons a:last-child {
    margin-right: 0; /* Esto asegura que el último ícono no tenga margen a la derecha */
}


/* Estilo para el formulario de búsqueda */
.header form {
    display: flex;
    gap: 10px; /* Espacio entre el campo de texto y el botón */
    order: 3; /* Ensures that the search form is the last item */
}

/* Estilo para el campo de texto de búsqueda */
.header form input[type="text"] {
    margin-top: 20px;
    width: 400px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none; /* Quitar borde */
    outline: none; /* Quitar outline al hacer foco */
    font-size: 1.2em;
    transition: box-shadow 0.3s;
}

.header form input[type="text"]:focus {
    box-shadow: 0 0 5px #4a0df3; /* Añadir un ligero resplandor al hacer foco */
}

/* Estilo para el botón de búsqueda */
.header form input[type="submit"] {
    margin-top: 20px;
    background-color: #fdfffd;
    color: #4a0df3;
    font-size: 1.2em;
    padding: 11px 40px;
    margin-left: 5px;
    border-radius: 30px;
    border: none; /* Quitar borde */
    cursor: pointer; /* Cambiar cursor a mano */
    transition: background-color 0.5s;
}

.header form input[type="submit"]:hover {
    background-color: #f5f5f5;
}

.header form input[type="submit"]:hover {
    background-color: #f5f5f5;
}

/* Estilos para el nombre del usuario en el header */
.user-info {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);  /*sto al color que prefieras */
    font-weight: bold;
    margin-right: 2rem; /* Espaciado a la derecha */
    order: 1;
    margin-right: 10px;
}

.user-info .fa-user {
    margin-right: 20px;
}


.producto-link {
    flex-basis: calc(33.33% - 60px);
    margin-bottom: 40px; 
    display: block; 
    text-decoration: none;
    color: inherit;
}

/* para volver al catalogo */
.btn {
    background-color: #fdfffd;
    color:#4a0df3;
    font-size: 1.2em; /* Tamaño de fuente ajustado */
    padding: 8px 12px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.5s;
    border: none; /* Quitar borde */
    cursor: pointer; /* Cambiar cursor a mano */
    margin: 0 5px; /* Espacio entre botones */
}

.btn:hover {
    background-color: #f5f5f5;
}

.producto-cantidad {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: bold;
    display: none; /* Oculta la cantidad por defecto */
}

.producto-card:hover .producto-cantidad {
    display: block; /* Muestra la cantidad cuando se pasa el puntero sobre el producto */
}

.carrito-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    
    /* Estilos para hacerlo flotante y ubicarlo abajo a la derecha */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.carrito-cantidad {
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}

.carrito-btn:hover {
    background-color: #555;
}

.carrito-btn i {
    font-size: 20px;
}

.btn-volver {
    margin-top: 20px;
    width: 200px; 
    display: inline-block;
    background: linear-gradient(to right, #5f2d8d, #3642af);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.btn-volver:hover {
    background-color: #555;
}

.btn-volver i {
    margin-right: 5px;
}

@media (max-width: 576px) {
    .logout-link {
        font-size: 0.5em; /* Reducir tamaño de fuente */
        padding:  1px; /* Reducir padding */
        width: auto; /* Ajustar ancho */
    }
    
    .catalogo-container {
        padding: 20px; /* Elimina el padding para que las tarjetas puedan extenderse completamente */
    }

    .producto-link {
        flex-basis: 100%; /* Asegúrate de que las tarjetas tomen todo el ancho */
        margin: 0; /* Elimina los márgenes externos */
    }

    .producto-card {
        margin: 0; /* Elimina los márgenes externos */
        padding: 5px; /* Elimina el padding interno para permitir que el contenido use todo el ancho */
        height: auto; /* Permite que la altura se ajuste al contenido */
        box-shadow: none; /* Opcional: elimina la sombra si deseas que las tarjetas sean planas */
    }

    .producto-card img {
        width: 100%; /* Asegúrate de que la imagen se ajuste al contenedor */
        height: auto; /* Mantiene la relación de aspecto de la imagen */
        object-fit: cover; /* Esto mantendrá la relación de aspecto incluso si cambias el tamaño de la imagen */
    }
    
    /* Ajustes similares para otros elementos del header */
}


@media (max-width: 576px) {
    .header {
        padding: 10px; /* Ajusta el padding para dar espacio */
        align-items: center; /* Centra los elementos verticalmente */
        text-align: center; /* Centra el texto */
    }

    .header img {
        width: 60%; /* Ajusta el ancho del logo */
        margin-bottom: 10px; /* Espacio entre el logo y los elementos debajo */
    }

    .header-right {
        width: 100%; /* Toma el ancho completo */
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinea los elementos al centro */
    }

    .user-info {
        order: 1;
        display: flex;
        width: 100%; /* Toma el ancho completo */
        justify-content: space-between; /* Separa los elementos entre sí */
        padding: 10px 0; /* Añade padding vertical para separar de otros elementos */
    }

    .logout-link {
        font-size: 1em; /* Ajusta el tamaño de la fuente como sea necesario */
        padding: 5px 5px; /* Aumenta el padding para hacer el botón más grande */
        display: flex; /* Asegura que los elementos internos se centren */
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra los elementos horizontalmente */
        margin-top: 1px; /* Añade margen en la parte superior si es necesario */
        border-radius: 5px; /* Ajusta para bordes redondeados */
        /* Añade otros estilos como sombras o transiciones si deseas */
    }

    /* Si estás utilizando un icono dentro de .logout-link, como FontAwesome, puedes ajustar su tamaño también */
    .logout-link i {
        font-size: 1.5em; /* Ajusta el tamaño del icono */
    }
    .header form {
        order: 3;
        width: 100%; /* Toma el ancho completo */
        display: flex;
        flex-direction: row; /* Coloca los elementos en una fila */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Alinea los elementos verticalmente */
        font-size: 10px;
    }

    .header form input[type="text"] {
        width: 70%; /* Asigna un ancho mayor al campo de texto */
        margin-right: 5px; /* Añade un margen a la derecha del campo de texto */
    }

    .header form input[type="submit"] {
        min-width: 80px; /* Ancho mínimo para el botón */
        padding: 11px 34px; /* Padding suficiente para el contenido */
        font-size: 10px;
        text-overflow: ellipsis; /* Añade puntos suspensivos si el texto se corta */
        /* ... */
    }
}





/* Para tablets y dispositivos con anchos menores a 768px */
@media (max-width: 768px) {
    footer {
        padding: 1em 5%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-content p,
    .social-icons a,
    .footer-content .social-icons {
        margin-bottom: 0.5em;
    }

    .social-icons {
        order: 1;
        margin-top: 10px;
    }
}

/* Para teléfonos móviles y dispositivos con anchos menores a 576px */
@media (max-width: 576px) {
    .footer-content {
        padding-bottom: 20px;
    }

    .footer-content p,
    .social-icons a,
    .footer-content .social-icons {
        margin-bottom: 0.3em;
    }
}


/* Pequeños dispositivos (landscape phones, 576px and up) */
@media (min-width: 576px) {


  @media (max-width: 768px) {
    .producto-card h2 {
        font-size: 1rem; /* Tamaño de fuente más pequeño para dispositivos más pequeños */
    }

    .producto-card p {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño para dispositivos más pequeños */
    }
    
}

  @media (max-width: 768px) {
    .producto-card h2 {
        font-size: 1rem; /* Tamaño de fuente más pequeño para dispositivos más pequeños */
    }

    .producto-card p {
        font-size: 0.8rem; /* Tamaño de fuente más pequeño para dispositivos más pequeños */
    }
    
}

@media (max-width: 768px) {
    .producto-card button {
        font-size: 0.9rem; /* Tamaño de fuente más pequeño para dispositivos más pequeños */
        padding: 0.5rem 0.9rem; /* Padding más pequeño para dispositivos más pequeños */
    }
}

@media (min-width: 768px) {
    .producto-link {
      flex-basis: calc(50% - 40px); /* Ajustar para 2 columnas */
    }

  }
  
  /* Tabletas en modo landscape y desktops (992px and up) */
  @media (min-width: 992px) {
    .producto-link {
      flex-basis: calc(33.33% - 40px); /* Ajustar para 3 columnas */
    }
  }
  
  /* Pantallas grandes (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .producto-link {
      flex-basis: calc(25% - 40px); /* Ajustar para 4 columnas */
    }
  }
}
  

/* Estilos para iPads en portrait y landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
  
  .toolbar-btn {
    padding: 5px 10px; /* Reducir el padding */
    font-size: 0.9em; /* Reducir el tamaño de la fuente */
  }
  
  /* Puedes necesitar ajustar también el margen y el espacio entre botones */
  .toolbar {
    gap: 10px; /* Ajustar el espacio entre los botones si es necesario */
  }
}

/* Puedes querer hacer un ajuste más fino para cada orientación */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
  }

  /* Media query para pantallas pequeñas (por ejemplo, menos de 768px) */
@media (max-width: 768px) {
    .toolbar {
        flex-direction: column; /* Los elementos se apilan verticalmente */
        padding: 10px; /* Reducir el padding para pantallas pequeñas */
    }

    .toolbar-btn {
        padding: 10px; /* Reducir el padding de los botones */
        text-align: center; /* Alinear el texto al centro */
        width: 100%; /* Hacer que los botones ocupen todo el ancho disponible */
        margin-bottom: 5px; /* Añadir un pequeño margen entre botones */
    }
}


/* Estilos para el botón del menú móvil */
.mobile-menu-btn {
    display: none; /* Oculto por defecto */
    background-color: #673ab7; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Padding */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 1.2em; /* Tamaño del texto */
    cursor: pointer; /* Estilo del cursor */
    margin: 10px; /* Margen */
}

/* Mostrar el botón solo en pantallas pequeñas y ajustar la barra de herramientas */
@media (max-width: 768px) {
    .mobile-menu-btn {
        display: block; /* Muestra el botón en pantallas pequeñas */
    }

    .toolbar {
        display: none; /* Oculta la barra de herramientas por defecto en pantallas pequeñas */
        flex-direction: column; /* Alinea los elementos verticalmente */
    }

    .toolbar.active {
        display: flex; /* Muestra la barra de herramientas cuando se activa */
    }
}
