/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative; /* Agregado para posicionar correctamente el logout-link */
}

.header img {
    max-width: 100%; /* Cambiado para ser responsive */
    height: auto; /* Asegura que la imagen no se deforme */
}

.logout-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.logout-link:hover {
    background-color: white;
    color: #333;
}

.content {
    max-width: 90%; /* Cambiado para ser responsive */
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #555;
}

.footer-content {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;
}

/* Media queries */

/* Para dispositivos con pantalla pequeña (menos de 768px) */
@media (max-width: 767px) {
    .header img {
        width: 120px; /* Imagen más pequeña para pantallas pequeñas */
    }

    .content, .footer-content {
        max-width: 100%; /* Aprovecha todo el ancho en dispositivos pequeños */
        box-shadow: none; /* Opcional: elimina la sombra para un look más limpio */
    }

    .logout-link {
        top: 5px;
        right: 5px;
        padding: 5px; /* Ajusta el padding para dispositivos pequeños */
    }

    .btn {
        padding: 10px; /* Botones más pequeños para pantallas pequeñas */
    }

    .social-icons i {
        font-size: 20px; /* Iconos más pequeños para pantallas pequeñas */
    }
}

/* Para dispositivos medianos (tablets, entre 768px y 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .header img {
        width: 140px; /* Tamaño de imagen ajustado para tablets */
    }

    /* Otros ajustes estilísticos si son necesarios */
}

