/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Encabezado */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #5f2d8d, #3642af);
    padding: 0.5em 5%; /* Padding responsive */
    margin-bottom: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    position: relative; /* Asegúrate de que el header tenga position relative */
    z-index: 10; /* Esto es para que el header se mantenga sobre la toolbar al hacer scroll */
}

.header-right {
     display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns items to the right */
}

.user-logout-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adds space between this container and the search bar */
}
.header img {
    max-width: 100%;
    height: auto;
}

.header form,
.logout-link {
    margin: 0;
    padding: 0; 
}

/* Estilo para el formulario de búsqueda */
.header form {
    display: flex;
    gap: 10px; /* Espacio entre el campo de texto y el botón */
    order: 3; /* Ensures that the search form is the last item */
}

.logout-link {
    width: 10%;  
    color:#fdfffd;
    font-size: 1.2em; /* Aumentar tamaño de fuente */
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem; 
    order: 2;
}

.logout-link:hover {
    background-color: #f5f5f5;
}

.logout-icon {
    display: inline-block; /* O 'block' si quieres que el ícono esté solo */
    vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
    margin-right: 0.5em; /* Espacio entre el ícono y el texto */
}

/* Estilo para el campo de texto de búsqueda */
.header form input[type="text"] {
    margin-top: 20px;
    width: 400px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none; /* Quitar borde */
    outline: none; /* Quitar outline al hacer foco */
    font-size: 1.2em;
    transition: box-shadow 0.3s;
}

.header form input[type="text"]:focus {
    box-shadow: 0 0 5px #4a0df3; /* Añadir un ligero resplandor al hacer foco */
}

/* Estilo para el botón de búsqueda */
.header form input[type="submit"] {
    margin-top: 20px;
    background-color: #fdfffd;
    color: #4a0df3;
    font-size: 1.2em;
    padding: 11px 40px;
    margin-left: 5px;
    border-radius: 30px;
    border: none; /* Quitar borde */
    cursor: pointer; /* Cambiar cursor a mano */
    transition: background-color 0.5s;
}

.header form input[type="submit"]:hover {
    background-color: #f5f5f5;
}

.header form input[type="submit"]:hover {
    background-color: #f5f5f5;
}

/* Estilos para el nombre del usuario en el header */
.user-info {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);  /*sto al color que prefieras */
    font-weight: bold;
    margin-right: 2rem; /* Espaciado a la derecha */
    order: 1;
    margin-right: 10px;
}

.user-info .fa-user {
    margin-right: 20px;
}


/* Botón Volver */
.return-link {
    background-color: #fdfffd;
    color: #4a0df3;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.return-link:hover {
    background-color: #f5f5f5;
}

/* Contenedor de Detalles del Producto */
.product-detail-container {
    max-width: 800px; /* Ajusta al ancho deseado */
    margin: 20px; /* Espaciado general, reemplaza esto si ya está definido */
    margin-left: 40px; /* Añade un margen a la izquierda */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    flex-direction: row; /* Alineación horizontal */
    gap: 20px; /* Espacio entre imagen y detalles */
    background-color: #fff; /* Fondo blanco */
    align-items: flex-start; /* Alinea los items al inicio del contenedor flex */
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product-image {
    flex-basis: 40%; /* 40% del contenedor para la imagen */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.product-image img {
    max-width: 100%; /* La imagen no excederá su contenedor */
    height: auto; /* Para mantener la proporción */
}

.product-info {
    flex-basis: 70%; /* 60% del contenedor para la información */
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center; /* Centra el contenido verticalmente */
}

.product-info h1 {
    margin: 0 0 10px 0; /* Espaciado arriba y abajo del título */
}

.product-info p {
    margin: 0 0 18px 0; /* Espaciado entre párrafos */
}

.product-info button {
    padding: 10px 15px; /* Tamaño del botón */
    background-color: #4a0df3; /* Color de fondo del botón */
    color: white; /* Texto del botón en blanco */
    border: 30px; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero */
    margin-top: 10px; /* Espaciado arriba del botón */
}

.product-info button:hover {
    background-color: #4a0df3;
}


/* Pie de página */
footer {
    background: linear-gradient(to right, #5f2d8d, #3642af);
    color: white;
    padding: 1em 10%;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: auto;
}

.footer-content {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    /* Your existing styles */
    background: linear-gradient(to right, #5f2d8d, #3642af);
    color: white;
    padding: 20px 0;
    font-size: 0.9em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 10px 0;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
}

/* Carrito de Compras */
.carrito-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.carrito-cantidad {
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}

/* Botón Volver (responsive) */
.btn-volver {
    margin-top: 20px;
    width: 200px; 
    display: inline-block;
    background: linear-gradient(to right, #5f2d8d, #3642af);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.btn-volver:hover {
    background-color: #555;
}

.btn-volver i {
    margin-right: 5px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.product-detail-container {
    width:  100%;
    margin:auto !important;
    padding: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-detail-container img {
    max-width: 100%; /* Esto asegura que la imagen nunca sea más ancha que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
}

.related-products-container {
    width: 30%; /* O el ancho que desees */
    display: flex; /* Establece el contenedor para comportarse como flex */
    flex-direction: row; /* Alinea los elementos hijos horizontalmente */
    justify-content: space-around; /* Espacia los elementos hijos uniformemente */
    flex-wrap: wrap; /* Permite que los elementos hijos pasen a la siguiente línea si no hay espacio */
    gap: 10px; /* Espacio entre las tarjetas */
    margin-right: 5%;
}

.cards-container {
    /* Contenedor para las tarjetas de productos relacionados */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.producto-card {
    /* Estilos para las tarjetas individuales */
    width: calc(50% - 10px); /* Ajuste para dos tarjetas por fila, restando el espacio del 'gap' */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos horizontalmente */
}


.related-product-image {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.related-product h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.related-product p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.related-product button {
    background-color: #4a0df3;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.related-product button:hover {
    background-color: #3a0bc3;
}

/* Header Estilizado para dispositivos pequeños */
@media (max-width: 576px) {
    .header {
        padding: 10px; /* Ajusta el padding para dar espacio */
        align-items: center; /* Centra los elementos verticalmente */
        text-align: center; /* Centra el texto */
    }

    .header img {
        width: 60%; /* Ajusta el ancho del logo */
        margin-bottom: 10px; /* Espacio entre el logo y los elementos debajo */
    }

    .header-right {
        width: 100%; /* Toma el ancho completo */
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinea los elementos al centro */
    }

    .user-info {
        order: 1;
        display: flex;
        width: 100%; /* Toma el ancho completo */
        justify-content: space-between; /* Separa los elementos entre sí */
        padding: 10px 0; /* Añade padding vertical para separar de otros elementos */
    }

    .logout-link {
        font-size: 1em; /* Ajusta el tamaño de la fuente como sea necesario */
        padding: 5px 5px; /* Aumenta el padding para hacer el botón más grande */
        display: flex; /* Asegura que los elementos internos se centren */
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra los elementos horizontalmente */
        margin-top: 1px; /* Añade margen en la parte superior si es necesario */
        border-radius: 5px; /* Ajusta para bordes redondeados */
        /* Añade otros estilos como sombras o transiciones si deseas */
    }

    /* Si estás utilizando un icono dentro de .logout-link, como FontAwesome, puedes ajustar su tamaño también */
    .logout-link i {
        font-size: 1.5em; /* Ajusta el tamaño del icono */
    }
    .header form {
        order: 3;
        width: 100%; /* Toma el ancho completo */
        display: flex;
        flex-direction: row; /* Coloca los elementos en una fila */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Alinea los elementos verticalmente */
        font-size: 10px;
    }

    .header form input[type="text"] {
        width: 70%; /* Asigna un ancho mayor al campo de texto */
        margin-right: 5px; /* Añade un margen a la derecha del campo de texto */
    }

    .header form input[type="submit"] {
        min-width: 80px; /* Ancho mínimo para el botón */
        padding: 11px 34px; /* Padding suficiente para el contenido */
        font-size: 10px;
        text-overflow: ellipsis; /* Añade puntos suspensivos si el texto se corta */
        /* ... */
    }
}


/* Media query para pantallas medianas (tabletas, etc.) */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        padding: 10px;
    }

    .product-detail-container,
    .related-products-container {
        width: 100%;
        margin-right: 0;
    }

    .cards-container {
        justify-content: center;
    }

    .producto-card {
        width: calc(50% - 10px); /* Ajuste para dos tarjetas por fila en tabletas */
    }
}

/* Media query para pantallas pequeñas (teléfonos móviles, etc.) */
@media (max-width: 576px) {
    .producto-card {
        width: 100%; /* En dispositivos pequeños, cada tarjeta toma el ancho completo */
    }
}

/* Ajustes responsivos para el card */
@media (max-width: 768px) {
    .product-detail-container {
        padding: 5px;
    }
}

@media (max-width: 576px) {
    .product-detail-container {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}