/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #5f2d8d, #3642af);
    padding: 0.5em 10%;
    margin-bottom: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.header form {
    display: flex;
    gap: 10px;
}

.header form input[type="text"] {
    padding: 8px 12px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.2em;
    transition: box-shadow 0.3s;
}

.header form input[type="text"]:focus {
    box-shadow: 0 0 5px #4a0df3;
}

.header form input[type="submit"] {
    background-color: #fdfffd;
    color: #4a0df3;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.header form input[type="submit"]:hover {
    background-color: #f5f5f5;
}

/* Botón Volver */
.return-link {
    background-color: #fdfffd;
    color: #4a0df3;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.return-link:hover {
    background-color: #f5f5f5;
}

/* Contenedor de Detalles del Producto */
.product-detail-container {
    max-width: 800px; /* Ajusta al ancho deseado */
    margin: 20px; /* Espaciado general, reemplaza esto si ya está definido */
    margin-left: 40px; /* Añade un margen a la izquierda */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    flex-direction: row; /* Alineación horizontal */
    gap: 20px; /* Espacio entre imagen y detalles */
    background-color: #fff; /* Fondo blanco */
    align-items: flex-start; /* Alinea los items al inicio del contenedor flex */
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product-image {
    flex-basis: 40%; /* 40% del contenedor para la imagen */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.product-image img {
    max-width: 100%; /* La imagen no excederá su contenedor */
    height: auto; /* Para mantener la proporción */
}

.product-info {
    flex-basis: 70%; /* 60% del contenedor para la información */
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center; /* Centra el contenido verticalmente */
}

.product-info h1 {
    margin: 0 0 10px 0; /* Espaciado arriba y abajo del título */
}

.product-info p {
    margin: 0 0 18px 0; /* Espaciado entre párrafos */
}

.product-info button {
    padding: 10px 15px; /* Tamaño del botón */
    background-color: #4a0df3; /* Color de fondo del botón */
    color: white; /* Texto del botón en blanco */
    border: 30px; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero */
    margin-top: 10px; /* Espaciado arriba del botón */
}

.product-info button:hover {
    background-color: #4a0df3;
}




/* Pie de página */
footer {
    background-color: #4a0df3;
    color: white;
    padding: 1em 10%;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: opacity 0.3s;
}

.social-icons a:hover {
    opacity: 0.7;
}

/* Carrito de Compras */
.carrito-btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.carrito-cantidad {
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}

/* Botón Volver (responsive) */
.btn-volver {
    display: inline-block;
    background: linear-gradient(to right, #5f2d8d, #3642af);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.btn-volver:hover {
    background-color: #555;
}

.btn-volver i {
    margin-right: 5px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

/* producto realcionados */
.content-wrapper {
    display: flex;
    justify-content: space-between; /* Cambiar a 'space-between' */
    align-items: flex-start;
}

.product-detail-container {
    width: 60%; /* Ajusta según tu diseño */
    margin-right: 2%; /* Espacio entre el detalle del producto y los productos relacionados */
    /* Otros estilos necesarios */
}

.related-products-container {
    width: 38%; /* Ajusta según tu diseño */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.related-product {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end; /* Agregar esta línea */
}

.related-product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.related-product h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.related-product p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.related-product button {
    background-color: #4a0df3;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.related-product button:hover {
    background-color: #3a0bc3;
}
