body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.login-box h2 {
    color: #4a0df3;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    background-color: #4a0df3;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.login-button:hover {
    background-color: #166fe5;
}

.success-message {
    color: #4CAF50;
    margin: 20px 0;
}

.error-message {
    color: #F44336;
    margin: 20px 0;
}


/* Ajustes para el formulario de registro dentro de login.css */

.input-group input {
    width: 90%;  /* Cambio para que los campos de entrada ocupen toda la anchura disponible */
    padding: 12px;  /* Aumento del padding para un mejor aspecto visual */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilos para el enlace de registro (puedes poner esto en registro.css o login.css, según prefieras) */

.register-link {
    display: block;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #4a0df3;
    font-size: 16px;
    padding: 10px 0;  /* Ajuste del padding para que no sea demasiado grande */
}

.register-link:hover {
    text-decoration: underline;
    background-color: #f0f2f5;
}



